@using Toto_Simulator.Models;
@model PaginatedList<TicketViewModel>
@{
    ViewData["Title"] = "Всички Талони";
}
<div class="d-flex justify-content-around">
    <div class="flex-column" style="width: 20rem;">
        <a asp-action="AllTickets"
           asp-route-sortOrder="@ViewData["IdSortParam"]"
           asp-route-pageSize="@ViewData["pageSize"]"
           class="btn btn-outline-success align-self-auto mb-2">
            Сортирай по номер
        </a>
    </div>
    <div class="flex-column" style="width: 20rem;">

        <a asp-action="AllTickets"
           asp-route-pageSize="5"
           asp-route-sortOrder="@ViewData["sortOrder"]"
           class="btn btn-outline-success mx-2">
            5
        </a>
        <a asp-action="AllTickets"
           asp-route-pageSize="10"
           asp-route-sortOrder="@ViewData["sortOrder"]"
           class="btn btn-outline-success mx-2">
            10
        </a>
        <a asp-action="AllTickets"
           asp-route-pageSize="15"
           asp-route-sortOrder="@ViewData["sortOrder"]"
           class="btn btn-outline-success mx-2">
            15
        </a>

    </div>
</div>
<div class="d-flex justify-content-around flex-lg-wrap gap-3">
    @foreach (var ticket in Model)
    {
        <div class="card flex-column border border-success" style="width: 21rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span class="fw-bold">Номер на талон: </span> @ticket.Id</li>
                <li class="list-group-item"><span class="fw-bold">Дата: </span> @ticket.Date.ToString("dd/MM/yyyy")</li>
                <li class="list-group-item"><span class="fw-bold">Цена: </span> : @ticket.Price</li>
                <li class="list-group-item"><span class="fw-bold">Номер на тираж: </span> : @ticket.DrawId</li>
                <li class="list-group-item"><span class="fw-bold">Играч: </span> : @ticket.Owner.UserName</li>
                <li class="list-group-item">
                    <ul class="list-group list-group-horizontal">
                        @foreach (var num in ticket.Numbers)
                        {
                            <li class="list-group-item border border-light bg-success text-white" style="width: 52px">@num.Value</li>
                        }
                    </ul>
                </li>
                <li class="list-group-item d-flex justify-content-around">
                    <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-primary mb-2">Редакция</a>                    
                    <form asp-action="Delete" asp-route-id="@ticket.Id">
                        <input type="submit" value="Изтриване" class="btn btn-danger" />
                    </form>
                </li>
            </ul>
        </div>
    }
</div>
@{
    string prevActive = Model.HasPreviousPage ? "active" : "disabled";
    string nextActive = Model.HasNextPage ? "active" : "disabled";

}

<ul class="pagination justify-content-center">
    <li class="page-item @prevActive">
        <a asp-action="AllTickets"
           asp-route-pageIndex="@(Model.PageIndex - 1)"
           asp-route-pageSize="@ViewData["pageSize"]"
           asp-route-sortOrder="@ViewData["sortOrder"]"
           class="page-link btn-success">
            Назад
        </a>
    </li>
    <li class="page-item @nextActive">
        <a asp-action="AllTickets"
           asp-route-pageIndex="@(Model.PageIndex + 1)"
           asp-route-pageSize="@ViewData["pageSize"]"
           asp-route-sortOrder="@ViewData["sortOrder"]"
           class="page-link btn-success">
            Напред
        </a>
    </li>
</ul>
