@using Toto_Simulator.Models;
@model IEnumerable<DrawViewModel>
@{
    ViewData["Title"] = "Тиражи";
}
@if (this.User.IsInRole("Admin"))
{
    <div style="margin: 30px auto; display: flex; justify-content: center">
        <a asp-controller="Draws" asp-action="CreateDraw" class="btn btn-success mb-2 align-self-auto">Изтегляне на тираж</a>
    </div>
}

<div class="d-flex justify-content-around flex-lg-wrap gap-3">    
    @foreach (var draw in Model)
    {
        @if (draw != Model.FirstOrDefault())
        {
            
            <div class="card flex-column" style="width: 20rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><span class="fw-bold">Пореден Номер: </span> @draw.Id</li>
                    <li class="list-group-item"><span class="fw-bold">Дата: </span> @draw.Date.ToString("dd/MM/yyyy")</li>
                    <li class="list-group-item"><span class="fw-bold">Награден фонд: </span> : @draw.Fund</li>
                    <li class="list-group-item">
                            <ul class="list-group list-group-horizontal">
                                @foreach (var num in draw.Numbers)
                                {
                                    <li class="list-group-item">@num.Value</li>                
                                }
                            </ul>
                    </li>
                    <li class="list-group-item">
                       <ul class="list-group list-group-horizontal">

                            <li class="list-group-item"><span class="fw-bold">1ва група печеливши: </span>@draw.FirstGroupWinners</li>
                            <li class="list-group-item"><span class="fw-bold">Натрупана сума: </span>@draw.FirstGroupSum</li>

                        </ul>
                    </li>
                    <li class="list-group-item">
                       <ul class="list-group list-group-horizontal">

                            <li class="list-group-item"><span class="fw-bold">2ра група печеливши: </span>@draw.SecondGroupWinners</li>
                            <li class="list-group-item"><span class="fw-bold">Натрупана сума: </span>@draw.SecondGroupSum</li>

                        </ul>
                    </li>
                    <li class="list-group-item">
                       <ul class="list-group list-group-horizontal">

                            <li class="list-group-item"><span class="fw-bold">3та група печеливши: </span>@draw.ThirdGroupWinners</li>
                            <li class="list-group-item"><span class="fw-bold">Натрупана сума: </span>@draw.ThirdGroupSum</li>

                        </ul>
                    </li>
                    <li class="list-group-item">
                       <ul class="list-group list-group-horizontal">

                            <li class="list-group-item"><span class="fw-bold">4та група печеливши: </span>@draw.FourthGroupWinners</li>
                            <li class="list-group-item"><span class="fw-bold">Натрупана сума: </span>@draw.FourthGroupSum</li>

                        </ul>
                    </li>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <li class="list-group-item">

                            <a asp-controller="Draws" asp-action="Edit" asp-route-id="@draw.Id" class="btn btn-primary mb-2">Редакция</a>
                            <span></span>
                            <form asp-action="Delete" asp-route-id="@draw.Id">
                                <input type="submit" value="Изтриване" class="btn btn-danger" />
                            </form>

                        </li>                       
                    }
                </ul>
            </div>
        }
    }
</div>
